[Unit]
Description=LA Social Movement Directory Frontent

[Service]
WorkingDirectory= /opt/la-movement-directory-web
ExecStart=export PATH="/root/.nvm/versions/node/v20.5.1/bin/:$PATH" && npm run preview

Restart=always
RestartSec=1

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=autodeploy

User=root

[Install]
WantedBy=multi-user.target